.contenedor_1 {
    background-color:darkseagreen;
    height: 139px;
    width:  180px;
    position: relative;
    
}
.contenedor_2 {
background-color: gray;
height: 139px;
width:  970px;
position: absolute;
bottom: 0px;
right: 0px;
left: 200px;
top: 8px;
}

.contenedor_3 {
background-color:beige;
border-style: solid;
border-width: 3px;
width: 1158px;
height: 52px;
position: absolute;
bottom: 0px;
right: 0px;
left: 8px;
top: 159px;
}

.contenedor_4 {
background-color:blueviolet;
width: 227px;
height: 556px;
position: relative;
top: 85px;
}

.contenedor_5 {
background-color:aqua;
width: 444px;
height: 227px;
position: absolute;
left: 260px;
top: 235px;

}

.contenedor_6 {
background-color:darkviolet;
width: 444px;
height: 227px;
position: absolute;
left: 725px;
top: 235px;
}

.contenedor_7 {
background-color:orange;
width: 912px;
height: 301px;
position: absolute;
left: 258px;
top: 485px;

}

.contenedor_8 {
background-color:cyan;
border-style: dotted;
border-width: 2px;
width: 1160px;
height: 144px;
position: relative;
top: 100px;

}